{% extends 'posts/base.html' %}

{% block content %}
  <span class="header-title">Create new post</span>
  <form action="{% url 'post_create' %}", method="post", enctype="multipart/form-data" novalidate>
    <!--Produce token if it exists, avoid sql inj-->
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
    <button type="submit">Add new post</button>
</form>
{% endblock %}
